html {
  background: url(images/resources/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   max-width: 100vw !important;
}

body{
   min-height: 100vh;
   height: 100%;
   background: rgba(0,0,0,0);
   max-width: 100vw !important;

   font-family: Roboto;
}

h3{
  color: rgba(255,255,255,0.87);
}
h5{
  color: rgba(255,255,255,0.87);
}
strong{
  color: rgba(255,255,255,0.87);
	font-weight: 700;
}

#content{
	max-width: 100vw;
	height:92vh;
}

.navbar{
	height: 8vh;
  max-height:8vh;
}

#user-image{
	height: 6vh;
	width: auto;
	border-radius: 50%;
}

.navbar-nav li {
	font-size: 1.4em;
    display: flex;
    align-items: center;
}

#campaign-sidebar{
	min-height:100%;
	height:92vh;
	background-color: rgba(0,0,0,0.65);
	color: rgba(255,255,255,0.87);

}

#campaign-sidebar h3{
	text-align: center;
}

#campaign-insert{

}

.campaign-title{
	font-size:1.2em;
}

.campaign-date{
	font-size:0.9em;
}

.campaign-image{
	max-width:100%;
	height:auto;
}

#character-space{
	height:100%;
	color: rgba(255,255,255,0.87);
}

#character-space h3{

}

.group-name{
	color: rgba(255,255,255,.95);
}

.character-image{
	width:70%;
	display: flex;
  align-items: center;
  margin-left:15%;
  border-radius: 50%;
}

.character-name{
	color: rgba(255,255,255,0.87);
	text-align: center;
	font-size:1.0em;
	font-weight: 500;
}
/* PUBLIC CAMPAIGN CSS */
#campaign-space{
	height:100%;
	color: rgba(255,255,255,0.87);
}
.campaign-system{
	color: rgba(255,255,255,0.87);
	text-align: center;
	font-size:0.6em;
	font-weight: 500;
}
#player-menu-space{
	min-height:90vh;
	height:100%;
	background-color: rgba(0,0,0,0.0);
	color: rgba(255,255,255,0.87);

}
.campaign-name2{
	color: rgba(255,255,255,0.87);
	text-align: center;
	font-size:0.5em;
	font-weight: 500;
}



/*CHARACTER CSS*/
#character-sidebar{
	background-color: rgba(0,0,0,0.65);
	color: rgba(255,255,255,0.87);
  min-height:20vh;
}

#character-sidebar h3{
	text-align: center;
}

#character-thumbnail{
  max-width: 75%;
  height: auto;
  /*margin-left: 15%;*/
}

#story-title{
  text-align: center;
}

.profile-image{
  /* width:100%;
  object-fit: contain; */
  object-fit: cover;
  object-position: 100% 0;

  width: 19em;
  height: 10.8em;
}

.profile-sheet{
  width: 100;
  height: auto;
}

.profile-campaign-lastplayed{
  font-size: 0.9em;
}

.profile-sheet{
  width:100%;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: rgba(0,0,0,0);
}

/* Style the buttons inside the tab */
.tab button {
  color: rgba(255,255,255,0.87);
  background-color: rgba(0,0,0,0.65);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(255,255,255,0.25);;
}

/* Style the tab content */
.tabcontent {
  display: none;
  color: rgba(255,255,255,0.87);
  padding: 6px 12px;
  background-color: rgba(0,0,0,0.65);
}

/* CREATECAMPAIGN */
.create-campaign{
  background-color: rgba(0,0,0,0.65);
}
.create-block{
  display: flex;
  text-align: center;
}

#inp {
  text-align: center;
  margin: auto;
}


/* CHATROOM CSS */

#characters-in-room{
  min-height:90vh;
  height:100%;
  background-color: rgba(0,0,0,0.65);
  color: rgba(255,255,255,0.2);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(255,255,255,0.87);
}

#rooms{
  min-height:90vh;
  height:100%;
  background-color: rgba(0,0,0,0.65);
  color: rgba(255,255,255,0.2);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(255,255,255,0.87);
}

#room-title{
  color: rgba(255,255,255,0.87);
  background-color: rgba(60,48,76,1);
  max-height:7.5vh;
}

#room-description{
   margin-top: 0;
   margin-bottom:0;
   /* padding-top:1.4em; */
   font-size: calc(0.5em + (0.5vw));
}

#chat-space{
  height:100%;
}

#chat{
  min-height: 80%;
  max-height: 72vh;
  background-image: url(images/resources/chatroom-background.png);
  overflow-y: scroll;
}

#chat-box{
    background-color: #261F2F;
    height: 12.5vh;
    max-height: 12.5vh;
}

#room-name{
  padding-top:0.5em;
  font-size: calc(0.8em + (1vw));
}


#rooms{
  color: rgba(255,255,255,0.87);
}

#rooms h3{
  text-align:center;
  padding-top:0.5em;
}

#characters-in-room{
  color: rgba(255,255,255,0.87);
}

#characters-in-room h3{
  text-align:center;
  padding-top:0.5em;
}

#chat-character{
  max-height:100%;

}

#chat-character img{
  height: 8vh;
  width: 8vh;
  max-height: 10vh;
  max-width: 10vh;

}

#character-selector{
  max-height:100%;
}

#character-selector img{
  fill: rgba(255,255,255,0.87);
  margin-top:50%;
  padding-left: 50%;
  max-height:40%;
  width:auto;
}

#player-input{
  margin-top: 0.6em;
  height: 80%;
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  background-color: rgba(88,73,106,1);
  border:none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  color:rgba(255,255,255,0.87);
}


#roomlist{
  list-style-type:none;
  text-align: right;
}

#roomlist li{
  margin-bottom:2.5%;
  color: rgba(255,255,255,0.60);
  font-size: 1.1em;
}

.active-room{
  color: rgba(255,255,255,0.87) !important;
  font-weight: 500 !important;
}

.char-image{
  margin-left:10%;
  martin-top:10%;
  max-width:80%;
  height:auto;
}

.char-name{
  font-size:1.1em;
  weight: 500;
  margin-bottom:0;
  margin-top:0.8em;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ab47dd;
    font-size: 1.2em;
    font-weidth: 700;
    border:none;
}


.chat-image{
  max-width:100%;
  height:auto;
}

#chat div{

}

.chat-date{
  color: rgba(255,255,255,0.67);
  margin-bottom:0;
  margin-top:auto;
  vertical-align: bottom;
}

.character-name p{
  color: rgba(255,255,255,0.87);
  font-size:1.1em;
  font-weight: 500;
  margin-bottom:0;
  vertical-align: center;
  margin-top:0.3em;
}

.chat-text p{
  color: rgba(255,255,255,0.87);
}

/*More SPECIFICCAMPAIGN */

.group-name{
  width: 100%;
}

.group-name strong{
  text-align: center;
}

#specific-campaign-description{
  /* padding: 1em; */
  background-color: rgba(0,0,0,0.65);
}

#specifc-campaign-data p{
  margin-bottom:0;
  color: rgba(255,255,255,0.65);
}

.campaign-slot img{
  width: 90%;
  padding-left:5%;

}

.campaign-slot p{
  text-align:left;
  padding-left:5%;
  margin-bottom: 0;
  font-size:1.0em;
  font-weight: 500;
}

.campaign-slot{
  margin-bottom: 5vh;
  width: 22em;
}

.campaign-container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dropdown-menu {
  background-color: #261F2F;
  color: rgba(255,255,255,0.65);
}

.dropdown-menu a{
  color: rgba(255,255,255,0.65);

}


#join-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2.5vh;
  margin-bottom: 2.5vh;
}

#new-char-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2.5vh;
  margin-bottom: 2.5vh;
}

.btn-text{
  font-size: 0.95em;
  max-width:25vw;
}

.navbar-collapse{
  z-index: 1060;
  background-color: #261F2F;
}
