html {
  background: url(images/resources/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body{
   min-height: 100vh;
   height: 100%;
   background: rgba(0,0,0,0);
   max-width: 100vw !important;

   font-family: Roboto;
}

strong{
	font-weight: 700;
}

#content{
	max-width: 100vw;
	height:100%;
}

.navbar{
	height: 10vh !important;
}

#user-image{
	height: 8vh;
	width: auto;
	border-radius: 50%;
}

.navbar-nav li {
	font-size: 1.4em;
    display: flex;
    align-items: center;
}

#campaign-sidebar{
	min-height:90vh;
	height:100%;
	background-color: rgba(0,0,0,0.65);
	color: rgba(255,255,255,0.87);

}

#campaign-sidebar h3{
	text-align: center;
}

#campaign-insert{

}

.campaign-title{
	font-size:1.2em;
}

.campaign-date{
	font-size:0.9em;
}

.campaign-image{
	max-width:100%;
	height:auto;
}

#character-space{
	height:100%;
	color: rgba(255,255,255,0.87);
}

#character-space h3{

}

.group-name{
	color: rgba(255,255,255,.95);
}

.character-image{
	width:70%;
	display: flex;
    align-items: center;
    margin-left:15%;
}

.character-name{
	color: rgba(255,255,255,0.87);
	text-align: center;
	font-size:1.2em;
	font-weight: 500;
}
/* PUBLIC CAMPAIGN CSS */
#campaign-space{
	height:100%;
	color: rgba(255,255,255,0.87);
}
.campaign-system{
	color: rgba(255,255,255,0.87);
	text-align: center;
	font-size:0.6em;
	font-weight: 500;
}

/*CHARACTER CSS*/
#character-sidebar{
	min-height:90vh;
	height:100%;
	background-color: rgba(0,0,0,0.65);
	color: rgba(255,255,255,0.87);

}

#character-sidebar h3{
	text-align: center;
}

#character-image{
  max-width: 70%;
  height: auto;
  margin-left: 15%;
}

#story-title{
  text-align: center;
}


/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: rgba(0,0,0,0);
}

/* Style the buttons inside the tab */
.tab button {
  color: rgba(255,255,255,0.87);
  background-color: rgba(0,0,0,0.65);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(255,255,255,0.25);;
}

/* Style the tab content */
.tabcontent {
  display: none;
  color: rgba(255,255,255,0.87);
  padding: 6px 12px;
  background-color: rgba(0,0,0,0.65);
}
